ASPNETCORE_ENVIRONMENT=Production
PORT=10000
Resend__ApiKey=
ContactEmail__From=
ContactEmail__To=
ContactEmail__LogoUrl=
Turnstile__SecretKey=
AllowedOrigins__0=https://romalabs.xyz
AllowedOrigins__1=https://www.romalabs.xyz
